@model MvcProject.Models.Entity.CvSkills
@{
    ViewBag.Title = "AddSkills";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <div>

        <label>Skill</label>
        <input type="text" class="form-control" name="SkillName" />

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">ADD</button>
    </div>
</form>



