@model MvcProject.Models.Entity.CvSkills
@{
    ViewBag.Title = "EditSkills";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Skills", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.SkillName)
        @Html.TextBoxFor(m => m.SkillName, new { @class = "form-control" })

    </div>

    <div>
        <button class="btn btn-warning">EDIT</button>
    </div>
}



