

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-0">
    <!-- About-->

    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                
                <span class="text-primary">Özge Uygun</span>
            </h1>
           
        </div>
    </section>
    <hr class="m-0" />
   
</div>

