@using MvcProject.Models.Entity
@model List<CvSkills>
@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        @foreach (var item in Model)
        {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h4 class="mb-0">@item.SkillName</h4>
                   </div> 
            </div>
        }
    </div>
</section>
<hr class="m-0" />
